{% extends 'index/master.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %}
 <!-- <div class ="buttonbar">
    <div class="button">
        <button value="All"></button>
        <button value="All"></button>
        <button value="All"></button>
        <button value="All"></button>
    </div>
 -->

<div class="videos">
   

    <h1>Recommended</h1>
    <div class="video_container">
        <div class="video">
            <img src="{% static 'images/ytvideo1.jpg' %}">
            <div class="videoinfo">
            <h3> website using HTML</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
        </div>
        </div>
        <div class="video">
            <img src="{% static 'images/ytvideo2.jpg' %}">
            <div class="videoinfo">
            <h3>HTML video tag</h3>
            <a href="">Lets Try This</a>
            <span>100K views</span>
            </div>
        </div>

            <div class="video">
                <img src="{% static 'images/trend1.jpg' %}">
                <div class="videoinfo">
                <h3>Xmas tree decoration</h3>
                <a href="">Lets Try This</a>
                <span>10K views</span>
            </div>
            </div>
        <div class="video">
            <img src="{% static 'images/ytvideo3.png' %}">
            <div class="videoinfo">
            <h3> website using CSS</h3>
            <a href="">Lets Try This</a>
            <span>104K views</span>
            </div>
        </div>
        <div class="video">
            <img src="{% static 'images/ytvideo1.jpg' %}">
            <div class="videoinfo">
            <h3>Website using HTML</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div>
        <div class="video">
            <img src="{% static 'images/sub2.png' %}">
            <div class="videoinfo">
            <h3>fifa teams</h3>
            <span>104K views</span>
            </div>
        </div>
        <div class="video">
            <img src="{% static 'images/ytvideo3.png' %}">
            <div class="videoinfo">
            <h3>html video tag</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div>
         <div class="video">
            <img src="{% static 'images/ytvideo2.jpg' %}">
            <div class="videoinfo">
            <h3> website using HTML</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div> 
        <div class="video">
            <img src="{% static 'images/trend3.jpg' %}">
            <div class="videoinfo">
            <h3> Xmas Candy</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div>
         <div class="video">
            <img src="{% static 'images/ytvideo3.png' %}">
            <div class="videoinfo">
            <h3> website using HTML </h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div> 
        <div class="video">
            <img src="{% static 'images/ytvideo2.jpg' %}">
            <div class="videoinfo">
            <h3> website using HTML</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div>  
         <div class="video">
            <img src="{% static 'images/ytvideo3.png' %}">
            <div class="videoinfo">
            <h3>website using HTML</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div> 
        <div class="video">
            <img src="{% static 'images/ytvideo2.jpg' %}">
            <div class="videoinfo">
            <h3> website using HTML</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div>  



    </div>
</div>
{% endblock %}
