{% extends 'index/master.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %}
<div class="videos">
    <h4>History</h4>
    
    <div class="video_container">
        <div class="video">
            <img src="{% static 'images/trend1.jpg' %}">
            <div class="videoinfo">
            <h3>Xmas tree decoration</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
        </div>
        </div>
        <div class="video">
            <img src="{% static 'images/trend2.jpg' %}">
            <div class="videoinfo">
            <h3>Xmas special</h3>
            <a href="">Lets Try This</a>
            <span>104K views</span>
            </div>
        </div>
        <div class="video">
            <img src="{% static 'images/trend3.jpg' %}">
            <div class="videoinfo">
            <h3> Xmas Candy</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div>
        <div class="video">
            <img src="{% static 'images/trend4.jpg' %}">
            <div class="videoinfo">
            <h3>Xmas tree decor</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div>
    </div>
    <h4>Watch Later</h4>
    <div class="video_container">
        <div class="video">
            <img src="{% static 'images/trend1.jpg' %}">
            <div class="videoinfo">
            <h3>Xmas tree decoration</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
        </div>
        </div>
        <div class="video">
            <img src="{% static 'images/sub4.jpg' %}">
            <div class="videoinfo">
            <h3>fifa group</h3>
            <a href="">lets enjoy</a>
            <span>10K views</span>
            </div>
        </div>
         <div class="video">
            <img src="{% static 'images/sub5.jpg' %}">
            <div class="videoinfo">
            <h3> fifa group chart</h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div> 
         <div class="video">
            <img src="{% static 'images/sub6.jpg' %}">
            <div class="videoinfo">
            <h3>fifa world cup </h3>
            <a href="">Lets Try This</a>
            <span>10K views</span>
            </div>
        </div> 
    </div>
         
   {% endblock %}   
        
    